<div class="container mt-3 p-4">
  <h3>Camion</h3>
  <div class="row text-right">
    <div class="col">
      <button class="btn btn-primary" routerLink="/camiones">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
        </svg>
        Regresar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="guardar(f)" #f="ngForm">
        <div class="form-group">
          <label for="">Id</label>
          <input type="text" class="form-control" [(ngModel)]="camion.id" disabled="disabled" name="id"
            placeholder="nuevo">
          <small class="form-text text-muted">Autogenerado</small>
        </div>
        <div class="form-group">
          <label for="">Placa</label>
          <input type="text" class="form-control" [(ngModel)]="camion.placa" name="placa" placeholder="Placa" required>
        </div>
        <div class="form-group">
          <label for="">Modelo</label>
          <input type="text" class="form-control" [(ngModel)]="camion.modelo" name="modelo" placeholder="Modelo">
        </div>
        <div class="form-group">
          <label for="">Capacidad</label>
          <input type="text" class="form-control" [(ngModel)]="camion.capacidad" name="capacidad"
            placeholder="Capacidad">
        </div>
        <hr>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary w-30">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z" />
              <path fill-rule="evenodd"
                d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z" />
            </svg>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
